.product-page {
    &_main-block {
        margin: 50px 0;
        display: flex;
        &-title {
            font-size: 22px;
            text-align: center;
        }
        & > div {
            flex: 1;
            .ant_image {
                width: 50%;
                margin: 0 auto;
                display: block;
            }
        }
    }
    &_other-block {
     .ability {
         display: flex;
         margin: 20px 0;
         &-title {
             flex: 1;
             font-size: 22px;

         }
         &_descr {
            flex: 4;
            font-size: 18px;
         }
     }
    }
    &_result {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}
